---
interface Props {
  name: string
}

const { name } = Astro.props

interface MenuItem {
  name: string
  url: string
}
const menuItems: MenuItem[] = [
  { name: 'Projects', url: '#' },
  { name: 'Education', url: '#' },
]
---

<nav class="fixed left-0 top-0 w-dvw border-b bg-white dark:bg-black">
  <div
    class="container mx-auto flex h-16 flex-wrap items-center justify-between px-4"
  >
    <div class="flex items-center space-x-3">
      <a href="#" class="flex items-center space-x-3">
        <img src="favicon.ico" class="h-8 drop-shadow" alt="Page icon" />
        <span
          class="hidden self-center whitespace-nowrap text-xl font-extralight tracking-widest md:block"
        >
          {name.toUpperCase()}
        </span>
      </a>
    </div>
    <button
      id="menu-button"
      class="inline-flex items-center justify-center rounded-full p-2 text-sm transition-colors hover:bg-black/5 md:hidden dark:hover:bg-white/10"
    >
      <span class="sr-only">Open main menu</span>
      <span class="material-icons-outlined">menu</span>
    </button>
    <div
      id="menu-container"
      class="absolute left-0 top-0 hidden h-dvh w-dvw flex-col md:static md:flex md:h-auto md:w-auto md:flex-row md:flex-nowrap md:items-center"
    >
      <div
        class="flex h-16 items-center justify-between bg-white p-4 md:hidden dark:bg-black"
      >
        <a href="#">
          <img src="favicon.ico" class="h-8 drop-shadow" alt="Page icon" />
        </a>
        <span>
          <button
            class="inline-flex items-center justify-center rounded-full p-2 text-sm transition-colors hover:bg-black/5 dark:hover:bg-white/10"
          >
            <span class="sr-only">Change theme</span>
            <span class="material-icons-outlined">dark_mode</span>
          </button>
          <button
            class="inline-flex items-center justify-center rounded-full p-2 text-sm transition-colors hover:bg-black/5 dark:hover:bg-white/10"
          >
            <span class="sr-only">Close main menu</span>
            <span class="material-icons-outlined">close</span>
          </button>
        </span>
      </div>
      <ul
        class="flex w-full flex-grow flex-col divide-y bg-white px-4 md:static md:flex-row md:divide-y-0 md:p-0 md:shadow-none dark:bg-black"
      >
        {
          menuItems.map(({ name, url }) => (
            <li>
              <a
                href={url}
                class="block py-4 transition-colors hover:bg-black/5 md:rounded md:px-4 md:py-2 dark:hover:bg-white/10"
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
      <button
        class="hidden items-center justify-center rounded-full p-3 text-sm transition-colors hover:bg-black/5 md:inline-flex dark:hover:bg-white/10"
      >
        <span class="sr-only">Change theme</span>
        <span class="material-icons-outlined">dark_mode</span>
      </button>
    </div>
  </div>
</nav>

<script src="./NavbarComponent.ts"></script>
