---
interface Props {
  name: string
}

const { name } = Astro.props

interface MenuItem {
  name: string
  url: string
}
const menuItems: MenuItem[] = [
  { name: 'Projects', url: '#' },
  { name: 'Education', url: '#' },
]
---

<nav class="fixed left-0 top-0 w-dvw border-b bg-white dark:bg-black">
  <div
    class="container mx-auto flex h-16 flex-wrap items-center justify-between px-4"
  >
    <div class="flex items-center space-x-3">
      <a href="#" class="flex items-center space-x-3">
        <img src="favicon.ico" class="h-8 drop-shadow" alt="Page icon" />
        <span
          class="hidden self-center whitespace-nowrap text-xl font-extralight tracking-widest md:block"
        >
          {name.toUpperCase()}
        </span>
      </a>
    </div>
    <button
      id="menu-button"
      class="inline-flex items-center justify-center p-2 text-sm md:hidden"
    >
      <span class="sr-only">Open main menu</span>
      <span class="material-icons">menu</span>
    </button>
    <div
      id="menu-container"
      class="absolute left-0 top-0 hidden h-dvh w-dvw flex-col md:static md:block md:h-auto md:w-auto"
    >
      <div
        class="flex h-16 items-center justify-between bg-white p-4 md:hidden dark:bg-black"
      >
        <a href="#">
          <img src="favicon.ico" class="h-8 drop-shadow" alt="Page icon" />
        </a>
        <button class="inline-flex items-center justify-center p-2 text-sm">
          <span class="sr-only">Close main menu</span>
          <span class="material-icons">close</span>
        </button>
      </div>
      <ul
        class="flex w-full flex-grow flex-col divide-y bg-white px-4 md:static md:flex-row md:space-x-4 md:divide-y-0 md:p-0 md:shadow-none dark:bg-black"
      >
        {
          menuItems.map(({ name, url }) => (
            <li>
              <a
                href={url}
                class="block rounded py-2 hover:underline md:p-0 md:px-3"
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.getElementById('menu-button')
  const menuContainer = document.getElementById('menu-container')

  menuButton?.addEventListener('click', () => {
    menuContainer?.classList.toggle('hidden')
    menuContainer?.classList.toggle('flex')
  })

  document.addEventListener('click', (event) => {
    const isHidden = menuContainer?.classList.contains('hidden')
    const iconClicked = event.target instanceof HTMLImageElement
    const anyAnchorClicked = event.target instanceof HTMLAnchorElement
    const closeClicked = (event.target as HTMLElement).innerText === 'close'

    if (!isHidden && (iconClicked || anyAnchorClicked || closeClicked)) {
      menuContainer?.classList.add('hidden')
      menuContainer?.classList.remove('flex')
    }
  })
</script>
