<div class="h-dvh">
  <div class="flex h-1/2 flex-col items-center justify-center px-2 text-center">
    <h1>Page not available</h1>
    <p class="p">Problem with the request.</p>
    <p class="p">Please try again later.</p>
  </div>
</div>
