<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
  </head>
  <body>
    <div class="h-dvh">
      <div class="flex h-1/2 flex-col items-center justify-center">
        <h1>Page not available</h1>
        <p>Problem with the request. Please try again later.</p>
      </div>
    </div>
  </body>
</html>
