---
import NavbarComponent from '../components/NavbarComponent.astro'
import ProfileComponent from '../components/ProfileComponent.astro'
import type { Profile } from '../lib/types/entities.types'

interface Props {
  profile: Profile
}

const { profile } = Astro.props
---

<NavbarComponent name={profile.name} />

<main class="mt-16">
  <ProfileComponent profile={profile} />
</main>
